POTCAR
*.pb
*~
*.d
*.o
*.aux
*.dvi
*.pdf
*.so
*.bin
*.intbin
*.meta
*.log
*.bz2
*.pyc
\#*
iter.*
topol.tpr
mdout.mdp
traj*xtc
traj.trr
ener.edr
state*cpt
CMakeCache.txt
CMakeFiles
*.pb
log.lammps
restart.*
dump.*
*.out
build
dist
dpgen.egg-info
*/*.pyc
*/__pycache__
*.swp
.eggs
.coverage
dbconfig.json
