# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    # there are many log files in tests
    # TODO: seperate py files and log files
    -   id: trailing-whitespace
        exclude: "^tests/.*$"
    -   id: end-of-file-fixer
        exclude: "^tests/.*$"
    -   id: check-yaml
        exclude: "^conda/.*$"
    #-   id: check-json
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-toml
# Python
-   repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
    -   id: black-jupyter
ci:
  autoupdate_branch: devel
