# https://github.com/sphinx-doc/sphinx/issues/11662
sphinx>=4.0.2,!=7.2.5
recommonmark
sphinx-book-theme
sphinx_markdown_tables
sphinx-argparse<0.5.0
myst-parser
deepmodeling-sphinx>=0.3.0
dargs>=0.3.1
numpydoc
.
