name: release_conda_and_github

on:
  push:
    tags:
      - 'v*'

jobs:
  conda-publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: publish-to-conda
      uses: felix5572/conda-publish-action@v1.9
      with:
        subdir: 'conda'
        anacondatoken: ${{ secrets.ANACONDA_TOKEN }}
        platforms: 'noarch'
  construct-and-publish:
    runs-on: ubuntu-latest
    needs: conda-publish
    steps:
    - uses: actions/checkout@master
    - uses: s-weigand/setup-conda@v1
    - run: conda install constructor jinja2 -y
    - run: constructor ./conda
    - name: Upload to release
      uses: softprops/action-gh-release@master
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: dpgen-*.sh
        repository: ${{ env.GITHUB_REPOSITORY }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  release-to-pypi:
    name: Release to pypi
    runs-on: ubuntu-latest
    permissions:
        # IMPORTANT: this permission is mandatory for trusted publishing
        id-token: write
    steps:
    - uses: actions/checkout@v3
    - name: Setup python
      uses: actions/setup-python@v5
      with:
        python-version: 3.x
        architecture: x64
    - name: Install dependencies
      run: python -m pip install build
    - run: python -m build
    - name: Publish a Python distribution to PyPI
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@release/v1
